doctype html
head
  meta(charset='utf-8')
  title Explore: About Himesh Ramjee
  link(rel="shortcut icon" type="image/x-icon" href="./projects/favicon.ico")
h1 Projects
#div-at-a-glance
  h5 At a glance.
  h1 Howzit, I'm Himesh Ramjee.
  #div-tag-cloud-at-a-glance Himesh Ramjee | Software Development | Looking for next challenge | Available from May 2020 
    p.
      I'm a 37 year old man living in Cape Town, South Africa. I've got around 13 years of 
      experience in the tech industry. Majority of my time as a Software Engineer (incl. Tech Lead and \
      Solutions Architect roles) was spent in the online retail space. I recently left my day job at Amazon Web 
      Services after spending 4 years there as a Software Development Manager. I gained a massive amount of 
      experience during that time. I worked with fellow SDMs and teams of engineers in operating and growing 
      one of the biggest web services in our industry, AWS EC2. Right here in Cape Town, South Africa. :) 
#div-about-me
  h1 About me
  #div-tag-cloud-about-me Husband | Dad | Technologist
  p.
    Who am I?
    
    I am currently based in Cape Town, South Africa. My wife and I have 2 amazing kids that are 
    growing so fast (not fast enough on some days! #joysofparenting). I’ve spent my career in the 
    technology industry spanning around 13 years and 3 significant roles. I started off as a 
    Software Developer then became a Solution Architect and recently clocked/celebrated 4 years 
    as a Software Development Manager.
  p.
    What is important to me?
    Focus on growing with my young family, giving them as many new experiences as I can and 
    using technology to improve our day to day lives. I see Transparency and Integrity as 
    some of the 1st principles that I often lean on in making decisions. Curiosity, Candor and 
    Pragmatism keep me in my happy space and help me get things done.
  p.
    What am I doing?
    My career motivations come from helping people/teams grow around technology and gaining 
    mastery over whatever I choose to do. Ideally, my next team would afford me the opportunity 
    to drive both areas. I'm a strong believer in Automation from Day 1 but also never hesitate 
    to roll up my sleeves and do the grunt work to get things done. I’ve also always had a tinkering/maker 
    mindset and sense of curiosity but I've' only ever explored it as a hobby. I recently dusted off my 
    Arduino kit and assembled a range sensor to account for the lack of front park distance control 
    on my bakkie. It was great picking that up again.
  p.
    What am I moving towards?
    I am looking to join teams that are making strides in human/personal technologies that improve 
    the day to day efforts of individual lives. This applies to technology in any industry but right 
    now I am excited about developing solutions in intelligence and automation involving both hardware and cloud 
    software. I don’t know the buzzwords around these but practically I think I’d get this from joining 
    teams like Amazon Alexa, Google Home and smaller teams that are building on open platforms like 
    Arduino or Rasberry PI.

#div-journey-in-tech
  h1 My journey thus far

  h2 Current space: Trying to be a good dad and husband
  #div-tag-cloud-good-man  Nov 2019 to date | Cape Town, South Africa | Rethinking careers | Family Focused | Side projects | Docker | NodeJS | AWS Route 53 | AWS SES | AWS CM | AWS Cloudfront | AWS S3 | AWS Cognito
  p.
    2019 proved to be a really difficult time for my wife and I in balancing a toddler and a new 
    born baby along with our high pressure work environments. My wife Tershia is an Attorney/Lawyer. 
    By Q3 2019 we made the decision to slow down and give our kids the focus and attention they 
    were demanding. We've both been fortunate in our careers thus far and were able to make the 
    decision for her to stop working and become a stay at home mom. But that's easier said than done, 
    especially for an Attorney so she had a long lead time. Life has interesting ways of playing 
    out once decisions are made. I was able to follow suite much quicker and left Amazon to focus 
    on our family. Our lives have improved, our children are...well still just kids! :) Honestly, 
    I have really missed having a daily schedule and engaging with like minded technical people but 
    nothing compares with the freedom of being with your kids. I've been home for months now and 
    my wife is a month away from joining me and I'm keen to start my next adventure in tech, on 
    our terms. More about that in the About me section.

  h2 Amazon Web Service
  #div-tag-cloud-aws  2015 to 2019 | Cape Town, South Africa | AWS Software Development Manager | The Humble Spreadsheet 
  p.
    In 2015 I took the opportunity to join Amazon Web Services (AWS) also as a Software Development 
    Manager (SDM). I spent 4 years in a highly challenging role and have come out with a tremendous 
    amount of tactical and tacit knowledge around operating (arguably?) the biggest Web Service in 
    the world, the EC2 APIs. During my time at AWS EC2, I worked with a small peer group of SDMs 
    with each of us owning a set of internal and external services that make up the EC2 APIs. I managed 
    around four engineering service teams over that time, and we were responsible for numerous tools 
    and services.

  h2 kalahari.com
  #div-tag-cloud-kalahari  2007 to 2015 | Cape Town, South Africa | Online Retailer | Software Engineer | C# | Java EE | Groovy | Spring Framework | GoF Design Patterns | Hybris Platform | Systems Design | Systems Architecture | Online payments integration | Internal tooling | Active MQ | MS SQL | New Relic 
  p.
    Majority of my career as a Software Engineer was spent with what was the largest online retailer 
    in South Africa, kalahari.com. I started my role there as a junior engineer and quickly made my 
    way up to Team Lead and then Solution Architect. 

  h5 Starting with kalahari.net
  p.
    At kalahari.com, we worked within small teams, 3-5 service engineers, 1 QA engineer, 1 scrum master. 
    We also regularly engaged with Product Owners, Business Analysts and UX design teams. Looking back, 
    I really appreciate the diversity of people I got to grow with. I'm wiser today and can honestly look 
    back and be astonished at how much the teams and business felt like family. We were highly effective 
    teams and making huge strides in improving the systems we owned and in keeping our customers satisfied. 
    Initially, all of kalahari.nets' systems were built and maintained in house. When I joined the business, 
    they were kicking off a modernisation project to move from classic ASP.net to .NET. I was given my first 
    Tech Lead role in building a system called the (website) Navigation Manager. It was made up of a Website 
    and a Windows Communication Foundation service. The modernisation project took a couple years to complete 
    but was an overall success. 

  h5 Growing into kalahari.com
  p.
    However, it wasn't long there after that our leadership decided to spin up a "Replatforming" project. 
    The project involved moving the entire business onto a commercial enterprise level ecommerce in a box 
    solution called Hybris. The Hybris solution, which was bought by SAP last I checked, is written in Java 
    and I raised my hand to move into 1 of the new teams being formed around the project. That's when my 
    journey in Java, Spring Framework and Enterprise systems began. As we worked to rewrite kalahari.com, 
    we each grew with the business and I eventually moved into a senior position and became responsible for 
    a service team. My biggest change in moving to that role was the people management aspect. In hindsight 
    it was super light when compared to what I did in a similar role at AWS EC2. The business kept growing 
    fast and I started feeling the effects of that growth. To address that I pushed to become a Solution 
    Architect and in doing so have more of a voice in early new feature developement and in key technical 
    considerations that I felt were starting to lack. 

  h2 3fifteen Solutions
  #div-tag-cloud-315  2007 | Johannesburg, South Africa | Microsoft | Junior Software Engineer | Consulting | ASP | MS SQL 
  p.
    3fifteen was a Microsoft Gold Partner and a software consultancy business. This was my first exposure 
    to developing real world solutions. I got to work on various smaller projects that I honestly can't 
    recall today but one that does stand out was when I was a pseudo tech lead during one. I worked closely 
    with a Project/Account Manager to elicit requirements from our client and iteratively working through 
    the development process. This involved regular on-site meetings with the client where I would demo the 
    development progress I'd made (at least once a month). 

  h2 Microsoft Graduate Program
  #div-tag-cloud-microsoft-graduate 2006 | Johannesburg, South Africa | Microsoft | Graduate Software Developer | C# | MCSE | MSCD 
  p.
    My career started off with joining the MS CS graduate program in 2006. During this time I completed by 
    MCSE and MCSD certifications and also got to build an internal Windows Desktop Application for (IIRC) 
    the recruiting team. Insignificant now but I always look back at that experience in a fond way. It was 
    the first time I saw myself as a leader and took on the responsibility.

  h5 What can I offer?

  h2 Technology and Architecture Management
  #div-tag-cloud-offer-tech Enterprise Architecture | Monolith vs Micro services | REST APIs | Distributed systems | CAP & PIE | Event driven architecture | Design for Scalability | Functional decomposition | Data sharding | AuthN vs AuthZ | CI/CI | Deployment safety | Operations Management
  p.
    Real world experiene in Enterprise Architecture, Distributed Systems, Web Applications mainly stemming 
    from my days as an Tech lead and Architect in the online retail space and as an SDM with AWS EC2. At AWS EC2, 
    my core focus was on the growth of engineers in my team and our organisation, tracking my teams operational 
    costs and hygeine and participating in regular Systems Architecture discussions. During that time I 
    occasionally wrote bash and python scripts to get stuff done. e.g. write semi-automated tests to help sign 
    off on feature launches or do some infrastructure/service fleet maintenance or collate data on my 
    infrastructure footprint to help complete periodic reports. I always gravitated towards automating various 
    parts of my day job but getting to write some code was a challenge in the SDM role. Being able to write 
    scripts was something I always looked out for. I recently started doing refresher courses in Java and 
    upskilling myself in industry technologies like Docker and NodeJS.     

  h2 People Management
  #div-tag-cloud-offer-people  Hiring | Goal setting | Positive Culture | Pragmatism | Constructive | Daily coaching | Performance Management | Compensation & Promotions
  p.
    All aspects of defining, hiring, developing and operating high functioning teams within a large organisation. 
    Actively contributing to broader planning processes with organisational leadership. Examples include, 
    Operational Planning, Developing new Technical Strategies to support business, Organizational Structures 
    to optimize delivery of business goals and team and individual performance management. Develop and maintain 
    \healthy working environment and general team culture. This is largely done on a day to day basis through 
    team meetings and weekly 1:1s with each member of my team. Act as an interface between development teams, 
    organizations and leadership when required. Help individual team members develop and drive their career 
    goals by providing relevant context and helping identify and measure specific opportunities. 

  h2 Software Development Management
  #div-tag-cloud-offer-dev  Operations Planning (OP1) | Product Roadmaps | Project Capacity Planning | Tactical vs Strategic Goals | Kanban FTW | Agile Scrum | Metrics and SLAs | Operations management 
  p.
    Drive long term product and technical strategy with relevant teams and formalize into individual team product 
    roadmaps and high level project plans. Facilitate development of Systems Design and/or Architecture when required 
    and ensure that teams are spending effort on the right work at the right time. Help teams formalize and track 
    development work (typically in some form of Scrum Agile or Kanban development approach). Help define key system 
    and customer metrics along with SLA’s that help track the overall health of systems and provide input into decision making. 

