doctype html
head
  meta(charset='utf-8')
  title Explore: About Himesh Ramjee
  link(rel="shortcut icon" type="image/x-icon" href="./projects/favicon.ico")
  // Bootstrap CSS
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
  // App css
  link(rel='stylesheet' href='./about-himesh/css/default-style.css')
nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(href='#') .h | Howzit! I'm Himesh Ramjee.
.row
  .col-md-10
    h5.content-subhead At a glance.
    #div-at-a-glance
      #div-tag-cloud-at-a-glance.content
        a.tag-cloud-item.tag-cloud-orange Himesh Ramjee 
        a.tag-cloud-item.tag-cloud-red Husband
        a.tag-cloud-item.tag-cloud-blue Dad
        a.tag-cloud-item.tag-cloud-green Technologist
        a.tag-cloud-item.tag-cloud-purple DIY enthusiast
        p.
          I am a 38 year old dude living in Cape Town, South Africa. I've got around 13 years of 
          experience in the tech industry. Majority of my time as a Software Engineer (incl. Tech Lead and
          Solutions Architect roles) was spent in the online retail space. 
          In October 2019, I left my day job at Amazon Web Services to take a sabbatical, after spending 4 years there as a Software Development Manager. I gained a massive amount of experience during that time. I worked with fellow SDMs and teams of engineers in operating and growing one of the biggest web services in our industry, AWS EC2. Right here in Cape Town, South Africa. :)
          So then 2020 happened...and my sabbatical was *cough* slightly extended. hehe :) 
          I'm currently looking for new opportunities to partner and work with great people again!
    h5.content-subhead What makes me tick?
    #div-about-me.content
      #div-tag-cloud-about-me
      h6(id="heading-who-am-i") Who am I?   
      p.
        I am currently based in Cape Town, South Africa. My wife and I have 2 amazing kids that are 
        growing so fast (not fast enough on some days! #joysofparenting). I’ve spent my career in the 
        technology industry which spans about 13 years and 3 significant roles. I started off as a 
        Software Developer then became a Solution Architect and recently clocked/celebrated 4 years 
        as a Software Development Manager.
      h6(id="heading-whats-important") What is important to me?
      p.
        Focus on growing with my young family, giving them as many new experiences as I can and 
        using technology to improve our day to day lives. I see Transparency and Integrity as 
        some of the 1st principles that I often lean on in making decisions. Curiosity, Candor and 
        Pragmatism keep me in my happy space and help me get things done.
      h6(id="heading-what-am-i-doing") What am I doing?
      p.
        My career motivations come from helping people/teams grow around technology and gaining 
        mastery over whatever I choose to do. Ideally, my next team would afford me the opportunity 
        to drive both areas. I'm a strong believer in Automation from Day 1 but also never hesitate 
        to roll up my sleeves and do the grunt work to get things done. I’ve also always had a tinkering/maker 
        mindset and sense of curiosity but I've' only ever explored it as a hobby. I recently dusted off my 
        Arduino kit and assembled a range sensor to account for the lack of front park distance control 
        on my bakkie. It was great picking that up again.
      h6(id="heading-whats-next") Whats next?
      p.
        I am looking to join teams that are making strides in human/personal technologies that improve 
        the day to day efforts of individual lives. This applies to technology in any industry but right 
        now I am excited about developing solutions in intelligence and automation involving both hardware and cloud 
        software. I don’t know the buzzwords around these but practically I think I’d get this from joining 
        teams like Amazon Alexa, Google Home and smaller teams that are building on open platforms like 
        Arduino or Rasberry PI.

    h5.content-subhead What do I do?
    #div-my-skills.content
      p
        | Interested in working with me? Awesome! :) I've written up a birds eye view of what I can bring to the table. Please check out my 
        a(href="https://himesh.ramjee.co.za/career-profile" target="_blank") career profile page here. 
        | If you think we could work together then also check out my formal work background and 
        a(href="https://www.linkedin.com/in/himeshramjee") reach out to me via my LinkedIn profile.

    h5.content-subhead Other interests
    #div-other-interests.content
      #div-tag-cloud-interests
        a.tag-cloud-item.tag-cloud-green FIRE
        a.tag-cloud-item.tag-cloud-green Stocks
        a.tag-cloud-item.tag-cloud-green Forex
        a.tag-cloud-item.tag-cloud-green Wealth Plan vs Life Plan
        a.tag-cloud-item.tag-cloud-green Start up
        a.tag-cloud-item.tag-cloud-green Investments
        a.tag-cloud-item.tag-cloud-green Budgets
        a.tag-cloud-item.tag-cloud-green Asset management

      p.
          Do you share some of these interests? I'm always ready to grab a coffee and chat about them!
      h6(id="heading-home-diy") Home DIY
      p.
        We live in a fairly large home and there's a constant stream of DIY projects ready for me to take on. Since buying the house; I have, for example, setup my home network (ok that's a given really), personally redone the garden landscape twice, built storage shelving and cupboards in our garage, installed security camera systems along with video enabled door bell, remodelled our main bathroom, installed a 11k liter rain water catchment systemm, fixed our gardens irrigation system and built 2 raised flower beds for growing our own veggies. I had no clue about any of these things on the day we took ownership of our home. What a blessed journey it has been.

      h6(id="heading-interests-finance-retail-trading") Personal Finance &amp; Retail Trading
      p.
        In 2020, and with all things 2020, I got to properly dive into the world of Retail Market Trading. Previously, I had just dabbled in crypto-currencies and ICO's. Later I focused in on Forex and that process really raised my skill level with retail day trading (no, I don't have a consistently profitable strategy yet ;-)). But without sufficient captial, and taking too much risk (knowingly) I actually lost a bunch of money. But well worth it for all the learnings and real life expereince that I got. My goal here was to create a passive income stream to replace my wifes active income. With that in mind I moved to learning how to automate trading by coding up various strategies and backtesting them. This has become one of my long term personal coding projects. I could go on and on here so let's grab that coffee soon!

      h6(id="heading-interests-teching") Life moments - Teaching my kids
      p.
        2020, being what it was with C19 and many family struggles/challenges, will still leave me with an immense gratitude for the time spent at home with my kids. There's just too much I would have missed and arguably not even thought about doing with them. One example is around actively identifying teachable moments and grabbing them with both hands. Dropping whatever I'm doing in the moment and having the freedom to teach son some new concept/idea/thing. For me, the interest, curiosity and sudden ability to be attentive is wrapped into the plea he would make during any pause in my speaking; "Daddy, daddy, tell me more...stutter...about the...some thing.". These young years are the best time to enjoy my kids and I must ensure that 2021 and beyond doesn't take that away from me and my wife. They're so strong willed and soon they'll start becoming more independant and my goal is for my wife and I to still be able to sit back and enjoy watching them take on life.

  .col-md-2.bg-light
    ul.nav(id="page-menu" class="sticky-side-bar")
      li.nav-item
        a(href='#div-at-a-glance' class="nav-link") At a glance
      li.nav-item
        a(href='#div-about-me' class="nav-link") What makes me tick?
      li.nav-item
        a(href='#div-my-skills' class="nav-link") What do I do?
      li.nav-item
        a(href="https://www.linkedin.com/in/himeshramjee" target="_blank" class="nav-link") LinkedIn
      li.nav-item
        a(href="https://github.com/himeshramjee" target="_blank" class="nav-link") GitHub
      li.nav-item.dropdown
        a(href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" target="_blank") Downloads
        .dropdown-menu
          a(href="./projects/downloads/Himesh Ramjee - Resume.pdf" class="dropdown-item" target="_blank") Resume
          a(href="./projects/downloads/Himesh Ramjee - Cirriculum Vitae.pdf" class="dropdown-item" target="_blank") CV
.row
  .col-md-12
    h5.content-subhead Out and about
    .content  
      img(src="./projects/img/himesh-tershia-boulders-beach.jpg" alt="?" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/aayush-aarya-diwali-2019.jpg" alt="?" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/yoda-lap-dog.jpg" alt="?" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/ducati-left-profile.jpg" alt="?" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/elephants-family.jpg" alt="?" width="200" height="200" class="img-thumbnail")

// jQuery first, then Popper.js, then Bootstrap JS
script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
// script(type='text/javascript' src='./bio/js/about-himesh.js')
