doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="shortcut icon" type="image/x-icon" href="./cognito/favicon.ico")
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  // App css
  link(rel='stylesheet' href='./cognito/css/style-node-nxs.css')
  title Explore: Noddyx Server Auth
.row
  .col-sm-3
    .card
      .card-body
        h5.card-title Register
        p.card-text AWS Cognito - Register a profile
        form#registerUserForm
          .form-group
            label(for='register_name') Name
            input#register_name.form-control(autocomplete='name')
            label(for='register_name') Family name
            input#register_familyName.form-control(autocomplete='family_name')
          .form-group
            label(for='register_email') Email address
            input#register_email.form-control(autocomplete='email', type='email', inputmode='email')
          .form-group  
            label(for='register_password') Password
            input#register_password.form-control(type='password')
          button#submitRegister.btn.btn-primary(type='submit') Register
    .card-footer
      small#resultRegister.text-muted Result: Pending...hit the button!
  .col-sm-3
    .card
      .card-body
        h5.card-title Sign In
        p.card-text AWS Cognito - Sign In
        form#signInUserForm
          .form-group
            label(for='signin_email') Email address
            input#signin_email.form-control(autocomplete='email', type='email', inputmode='email')
          .form-group 
            label(for='signin_password') Password
            input#signin_password.form-control(type='password')
          button#submitLogin.btn.btn-primary(type='submit') Sign In
    .card-footer
      small#resultLogin.text-muted Result: Pending...hit the button!
  .col-sm-3
    .card
      .card-body
        h5.card-title Validate Token
        p.card-text AWS Cognito - Validate an access token
        form#validateUserTokenForm
          .form-group
            label(for='validatetoken_token') Token value
            input#validatetoken_token.form-control(aria-describedby='tokenHelp')
            small#tokenHelp.form-text.text-muted e.g. 123abc
          button#submitValidateToken.btn.btn-primary(type='submit') Validate Token
    .card-footer
      small#resultValidateToken.text-muted Result: Pending..hit the button!

// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
script(type='text/javascript' src='./cognito/js/authenticate.js')