doctype html
head
  meta(charset='utf-8')
  title Career Profile: Himesh Ramjee
  link(rel="shortcut icon" type="image/x-icon" href="./projects/favicon.ico")
  // Bootstrap CSS
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
  // App css
  link(rel='stylesheet' href='./cognito/css/about-himesh.css')
nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(href='#').sticky-nav-bar .h | Howzit! I'm Himesh Ramjee.
.row
  .col-md-10
    h5.content-subhead Skills at a glance
    #div-skills-at-a-glance
      #div-tag-cloud-skills-at-a-glance.content
        ul  
          li Bachelor's degree in Computer Science &amp; Information Technology
          li 4+ years experience leading and managing people, technology and software in high performance environment (Amazon AWS)
          li 6+ years experience as a software developer (e-Commerce/retail industry, Java, C#)
          li Strong verbal and written communication skills
          li Excellent judgment to influence product architecture, roadmap direction, features, and priorities
          li Strong problem solving and critical thinking skills
          li Tactical and Strategic thinker that helps drive technology and expedite organizational goals
          li Skilled leader who has the proven ability to motivate, educate, and manage a team of professionals to build software programs that delight customers and drive a business forward
          li Strong skills in work prioritization, driving architectural decisions, technical debt and dependency management and coaching/mentoring individuals
          li Experience with development and management challenges of large scale distributed systems (AWS EC2)
          li Experience measuring the health and effectiveness of technical systems and business processes
          li Experience designing and operating large scale, distributed systems with integrations to numerous systems
          li Experience leading multiple high performing engineering teams

    h5.content-subhead Road ahead
    #div-career-ahead.content
      #div-tag-cloud-career-ahead
      a.tag-cloud-item.tag-cloud-red CTO
      a.tag-cloud-item.tag-cloud-blue Head of Engineering
      a.tag-cloud-item.tag-cloud-green Software Development Manager
      a.tag-cloud-item.tag-cloud-purple Tech Lead
      h3(id="heading-career-next-role") My next role
      p.
        My career motivations come from helping people/teams grow around technology and gaining mastery over whatever I choose to do. Ideally, my next team would afford me the opportunity to drive both areas. Specific roles I'm interested in are the CTO, Head of Engineering and the Engineering Manager and Tech Lead roles.
      h3(id="heading-human-growth-tech") Develop Human Growth Technologies
      p.
        I am looking to join teams that are making strides in human/personal technologies that improve the day to day efforts of individual lives. This applies to technology in any industry and I am excited about developing solutions in intelligence and automation using smart devices in the home/automotive/agricultural industries. These would ideally involve both open hardware solutions, and micro-services architecture built using cloud solutions.
      h3(id="heading-work-industries") Teams, Companies &amp; Technologies
      p.
        An ideal would be to join large companies or established startups with diverse teams that are actively pushing boundaries and innovating in areas that help improve individual lives. Examples of companies that I'm interested in working with are the likes of Amazon Alexa, Google Home, Reddit that would use AI/ML technologies. I'd also love to explore and grow with companies that are involved in building smart and accessible solutions to renewal energy (I haven't researched such companies but Tesla, SpaceX, NASA and ThoughtSpot are top of mind). I'd also be interested to work with more focused companies/teams that are building on open platforms like Arduino or Rasberry PI.
      h3(id="heading-work-environment") Live life work culture
      p.
        Ideally, my next role and company will work seamlessly with my wife and I in raising our young family. It would allow me to travel with them and offer them as many new experiences as I can, whilst actively working with a great company to build a smarter future for my kids. I'm looking for teams that are highly motivated in what they do, are passionate about the products they owns, are deep owners of the systems they build and operate, and don't operate under frantic or seemingly organized chaos! :) Such teams would understand what constructive collaboration looks like and quickly move to turn tough conversations into humanized, constructive and transparent paths forward. I'd love full autonomy in operating in my role and evolving my job functions over time as needed to suit business goals.
      h3(id="heading-whats-important") What's important to me right now?
      p.
        Focus on growing with my young family, giving them as many new experiences as I can and using technology to improve our day to day lives. I see Transparency and Integrity as some of the 1st principles that I often lean on in making decisions. Curiosity, Candor and Pragmatism keep me in my happy space and help me get things done. I'm looking for roles that are well defined in performance criteria and do not, within reason, lean on the lazy "do everything or wear many hats" way of thinking. Every role in the company should have a strong support structure that focuses on individual growth. Engineering Teams would ideally follow the DevOps model where teams own and operate the full spectrum of their products and services.

    h5.content-subhead What I do
    #div-career-skills.content
      #div-tag-cloud-career-skills
      a.tag-cloud-item.tag-cloud-red Technology &amp; Architecture management
      a.tag-cloud-item.tag-cloud-blue Organizational management
      a.tag-cloud-item.tag-cloud-green Software operations management
      h3(id="heading-tech-architecture-mgmnt") Technology &amp; Architecture Management
      p.
        My biggest offering comes from my real world experience in building and operating medium to large software platforms and processes using Enterprise Architecture patterns and Distributed Systems design. Marrying that with a transparent and pragmatic approach to everything I do, means that I've also played key roles in stakeholder management. This often required me to distill and simplify the understanding of technology and how it plays a critical role in supporting a feature, process or an entire business. 
      p.
        There are various aspects to technology management. They start with understanding target customer markets and developing processes to ensure that final products meet customer expectations and are of highest possible quality. Technology solutions support a business by simplifying and automating various business processes. Great solutions empower both business users and their customers to act on their own and without heavy dependency on others. This also means that systems need to be correct, secure, available, reliable, scalable and as cost effective as required to operate and grow a business (yep, this isn't an exhaustive list :)).
      h3(id="heading-org-mgmnt") Organizational Management
      p.
        My experience here is scoped to smaller organizations (~50 people) within a larger company where the broader functions around budgeting, accounting, marketing etc were taken care of by separate/dedicated teams. These are areas of growth I will be looking to develop in my next role. So, what can I offer today?
      p.
        Understanding different technologies is critical to driving business innovation and growth. Molding technology into something any business user can operate is just as critical a skill and this involves building and managing strong engineering teams. Over the years, I've developed skills to help build, structure and align engineering teams to help meet business goals. Organizations that innovate at break neck speeds (e.g. Amazon Web Services), typically have a strong requirment for agility within the organizational structure of engineering teams. Just as different technologies are used to support a business, so too must smart people be brought together and organized to help meet business goals and ultimately delight customers that drive revenue streams. When done incorrectly, such changes can have a significant negative impact on engineering teams and stakeholders.
      p.
        I've been fortunate enough to have been directly involved in numerous organizational structural changes. The overall goal each time was to best position engineering teams in order to deliver on key business goals. In large organizations, these changes typcially started as part of the periodic Operational Planning processes to help project the resourcing requirements and operational costs of engineering teams. Critically, the sort of internal goals underpinnng the final plan included revisiting key company, organizational and team tenets, developing architectural plans, developing some sense of timeline and roadmap narratives that include some measure of cost analysis, matching engineer skill sets and aspirations to projects and finally, "packaging" the plan into various formats for consumption by different stakeholders.
      h3(id="heading-software-ops-mgmnt") Software Operations Management
      p.
        Majority, if not all software systems, come with an inherent long term commitment and cost to support customers or end users. For me, the overarching goal of operations management is to actively work at minimizing that cost when zero'ing it isn't possible. Within engineering departments, I've developed skills to define and measure these costs (typically in the common format of engineer headcount/hours) before putting in place any plans to reduce them.
      p.
        Measuring costs starts at the software design level where specific systems and business metrics are defined and emitted (e.g. API error rates, API response sizes, page renders, new orders per minute, customer contacts queue size). I strongly believe that customer experience metrics must be actively defined and implemented during the entire software development life cycle. Simirlarly, software operational metrics should also be baked into any solutions and designs. Minimum success here would include having protactive metric monitors and alarms with relevant dashboards that enable protactive identification, provide readily available diagnostic information and fast recovery. Success also includes being able to quickly tie together the business impact of various events within a system (be it customer driven or internal business operator).
      p.
        Once good measures are in place, one can start to quickly and regularly identify areas of a systems or processes that require attention. Typically, this results in a list of prioritized issues to tackle. I've learned to use different approaches here as I've ownned and operated different types of systems. Solutions I've used/implemented to reduce or mitigate operating costs included deprecating old systems, spreading operational load, disbanding and redistributing engineering capacity, making various internal systems investments like fixing classes of software bugs, improving diagnostics information and developing user self-service features (again, this is only an indicative list :)). Solutions I'm interested in but haven't explored yet are around using Machine Learning tools to identify and measure operational costs. It may be worth noting that reducing costs can somtimes simply lead to a decision on where to better spend resources rather than actually reducing costs. A simple example of this would be in overscaling hardware to support burst behaviour rather than allowing failures in systems which would then generate work for engineers or support teams.
      
    h5.content-subhead Side projects
    #div-think-big.content
      h3(id="heading-think-big") Thinking Big
      p.
        If you're interested to hear about some of my think big ideas/vision for the future, then ask me about my personal projects (they're long term so don't expect to be wow'd just yet). I'll tell you about online pop up shops, digitizing malls for a greener future & offering a fully immersive shopping experience and lastly building solutions that help individual families in knowledge, history and wealth management.

    h5.content-subhead Other interests
    #div-other-interests.content
      p.
        Do you share some of these interests? I'm always ready to grab a coffee and chat about them!
      h2(id="heading-home-diy") Home DIY
      p.
        We live in a fairly large home and there's a constant stream of DIY projects ready for me to take on. Since buying the house; I have, for example, setup my home network (ok that's a given really), personally redone the garden landscape twice, built storage shelving and cupboards in our garage, installed security camera systems along with video enabled door bell, remodelled our main bathroom, installed a 11k liter rain water catchment systemm, fixed our gardens irrigation system and built 2 raised flower beds for growing our own veggies. I had no clue about any of these things on the day we took ownership of our home. What a blessed journey it has been.

      h2(id="heading-interests-finance-retail-trading") Personal Finance &amp; Retail Trading
      div-tag-cloud-interests-finance
        a.tag-cloud-item.tag-cloud-green FIRE
        a.tag-cloud-item.tag-cloud-green Stocks
        a.tag-cloud-item.tag-cloud-green Forex
        a.tag-cloud-item.tag-cloud-green Wealth Plan vs Life Plan
        a.tag-cloud-item.tag-cloud-green Start up
        a.tag-cloud-item.tag-cloud-green Investments
        a.tag-cloud-item.tag-cloud-green Budgets
        a.tag-cloud-item.tag-cloud-green Asset management
      p.
        In 2020, and with all things 2020, I got to properly dive into the world of Retail Market Trading. Previously, I had just dabbled in crypto-currencies and ICO's. Later I focused in on Forex and that process really raised my skill level with retail day trading (no, I don't have a consistently profitable strategy yet ;-)). But without sufficient captial, and taking too much risk (knowingly) I actually lost a bunch of money. But well worth it for all the learnings and real life expereince that I got. My goal here was to create a passive income stream to replace my wifes active income. With that in mind I moved to learning how to automate trading by coding up various strategies and backtesting them. This has become one of my long term personal coding projects. I could go on and on here so let's grab that coffee soon!

      h2(id="heading-interests-teching") Life moments - Teaching my kids
      p.
        2020, being what it was with C19 and many family struggles/challenges, will still leave me with an immense gratitude for the time spent at home with my kids. There's just too much I would have missed and arguably not even thought about doing with them. One example is around actively identifying teachable moments and grabbing them with both hands. Dropping whatever I'm doing in the moment and having the freedom to teach son some new concept/idea/thing. For me, the interest, curiosity and sudden ability to be attentive is wrapped into the plea he would make during any pause in my speaking; "Daddy, daddy, tell me more...stutter...about the...some thing.". These young years are the best time to enjoy my kids and I must ensure that 2021 and beyond doesn't take that away from me and my wife. They're so strong willed and soon they'll start becoming more independant and my goal is for my wife and I to still be able to sit back and enjoy watching them take on life.

  .col-md-2.bg-light
    ul.nav(id="page-menu" class="sticky-side-bar")
      li.nav-item
        a(href='#div-skills-at-a-glance' class="nav-link") What can I offer?
      li.nav-item
        a(href='#div-career-ahead' class="nav-link") My career ahead
      li.nav-item
        a(href='#heading-human-growth-tech' class="nav-link") Search for Human Growth Technologies
      li.nav-item
        a(href='#heading-work-industries' class="nav-link") Teams, Companies &amp; Industries
      li.nav-item
        a(href='#heading-work-environment' class="nav-link") Live life work culture
      li.nav-item
        a(href='#heading-whats-important' class="nav-link") What's important to me right now?
      li.nav-item
        a(href='#heading-tech-architecture-mgmnt' class="nav-link") Technology &amp; Architecture Management
      li.nav-item
        a(href='#heading-org-mgmnt' class="nav-link") Organizational Management
      li.nav-item
        a(href='#heading-software-ops-mgmnt' class="nav-link") Software Operations Management
      li.nav-item
        a(href='#heading-think-big' class="nav-link") Thinking Big
      li.nav-item
        a(href='#div-other-interests' class="nav-link") Other interests

.row
  .col-md-12
    h5.content-subhead Technologies used
    .content  
      img(src="./projects/img/" alt="AWS" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/" alt="Docker" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/" alt="Kubernetes" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/" alt="NATS Streaming Server" width="200" height="200" class="img-thumbnail")
      img(src="./projects/img/" alt="NodeJS" width="200" height="200" class="img-thumbnail")

// jQuery first, then Popper.js, then Bootstrap JS
script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
// script(type='text/javascript' src='./bio/js/about-himesh.js')
