doctype html
head
  meta(charset='utf-8')
  title Chaiwala Engineered
  link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
  // Bootstrap CSS
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
  // App css
  link(rel='stylesheet' href='./engineering/css/default-style.css')
  link(rel='stylesheet' href='./css/default-style.css')
nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(href='#') .h | Howzit! I'm Himesh Ramjee.
.row
  .col-md-10
    h5.content-subhead Chaiwala Vision &amp; Platfrom
    #div-engineering
      #div-engineering.content
        a.tag-cloud-item.tag-cloud-purple Vision &amp; Platform
        a.tag-cloud-item.tag-cloud-blue Growing Leaders
        a.tag-cloud-item.tag-cloud-green Delivering High Customer Value
        a.tag-cloud-item.tag-cloud-lightgreen Developing Personal Technologies
        a.tag-cloud-item.tag-cloud-orange Creating Family Wealth
        
    #div-chaiwala-readme-gist
      #div-chaiwala-readme-gist.content
        p. 
          <script width="786" src="https://gist.github.com/himeshramjee/45df11d72a2b7818258e8e7f843aa84e.js"></script>

  .col-md-2.bg-light
    ul.nav(id="page-menu" class="sticky-side-bar")
      li.nav-item
        a(href='/' target="_blank" class="nav-link") Home
        a(href='#div-chaiwala-readme-gist' class="nav-link") Chaiwala Platform
        a(href='#div-chaiwala-stickies-map' class="nav-link") Engineering Slides

.row
  .col-md-10
    h5.content-subhead Engineering
    #div-engineering
      #div-engineering.content
        a.tag-cloud-item.tag-cloud-purple Technology
        a.tag-cloud-item.tag-cloud-blue People &amp; Customers
        a.tag-cloud-item.tag-cloud-green Software Architecture &amp; Design
        a.tag-cloud-item.tag-cloud-red Product Planning
        a.tag-cloud-item.tag-cloud-orange Consistent Quality &amp; Delivery
        
      #div-chaiwala-stickies-map
        #div-chaiwala-stickies-map.content
          <iframe width="1024" height="768" src="https://miro.com/app/embed/o9J_lamc-m0=/?pres=1&frameId=3074457353395775182" frameBorder="0" scrolling="no" allowFullScreen></iframe>