doctype html
head
  meta(charset='utf-8')
  title Explore: Tech builder
  link(rel="shortcut icon" type="image/x-icon" href="./projects/favicon.ico")
  // Bootstrap CSS
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
  // App css
  link(rel='stylesheet' href='./cognito/css/projects-list.css')
nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(href='#') .h | Tech Projects, Ideas, Knowledge & References
h5.content-subhead Past projects
#div-active-projects-list.content.card-columns
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 1")
    .card-body
      h5.card-title Freedom Coin - Exploring blockchains
      p.card-text Here be dragons and dirty python code that I wrote to learn how to automate the build and management of masternodes.
      a(href="https://github.com/himeshramjee/FreedomCoin" target="_blank" class="btn btn-primary") GitHub
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 2")
    .card-body
      h5.card-title Arduino - Range Sensor
      p.card-text This was a fun little project. Arduino based range sensor to help my wife and I park her bear (Toyota Bakkie) in our now tiny garage!
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 3")
    .card-body
      h5.card-title Aspects of Architecture
      p.card-text Some notes about various architecture topics that I may blog about in future. For now it's just notes around evaluating system platforms.
      a(href="https://github.com/himeshramjee/Aspects-of-Architecture" target="_blank" class="btn btn-primary") GitHub
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 4")
    .card-body
      h5.card-title NodeJS and very basic Sentiment Analysis
      p.card-text This was the first tutorial I completed in starting to learn NodeJs. Very basic but functional.
      a(href="https://himesh.ramjee.co.za/node-nlp/" target="_blank" class="btn btn-primary") Demo
      | 
      a(href="https://github.com/himeshramjee/Node-NLP" target="_blank" class="btn btn-primary") GitHub
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 5")
    .card-body
      h5.card-title Migrate ramjee.co.za from Afrihost to AWS
      p.card-text This was really fun. Lots of firsts coming from this project in terms of actually learning about other AWS services.
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 6")
    .card-body
      h5.card-title About me 
      p.card-text First personal blog page. I use it to refresh on basic UI 
      a(href="https://himesh.ramjee.co.za/about-himesh" target="_blank" class="btn btn-primary") Meet me
      | 
      a(href='https://github.com/himeshramjee/PersonalWebsite' target="_blank" class="btn btn-primary") GitHub
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 6")
    .card-body
      h5.card-title Move ramjee.co.za certs to new CA
      .card-text 
        p.
          I'd previously used AWS Certificate Manager which offers free SSL certs if your using AWS services.
          But that has the added constraint of only using AWS ELBs which aren't cheap (~R300 per month or 18usd).
          So I've moved over to LetsEncrypt using CertBot and terminiated on my Nginx server running on an AWS Lightsail instance.
        a(href='https://letsencrypt.org/' target="_blank" class="btn btn-primary") letsencrypt.org
        | 
        a(href='https://github.com/himeshramjee/Noddyx-Server/blob/cb4a97cea726e94ffa9fdf9351b339743c808eea/nginx-notes/sites-enabled-noddyx-server.conf#L1-L23' target="_blank" class="btn btn-primary") View basic config

h5.content-subhead Things I want to learn and build
#div-idea-projects-list.content.card-columns
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 1")
    .card-body
      h5.card-title Rooms Booking system
      p.card-text Simple bookings app/site that helps with scheduling visitors, tracking occupancy etc.
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 2")
    .card-body
      h5.card-title Community Gardening 
      .card-text
        p.
          Born out of my lack of knowledge around landscaping and maintaining a garden.
          This is a portal and app for neighbourhoods to sign up and drive community wide gardening.
          This will include integration with smart devices that for example can help track rainfall, level of sunshine.
          These would feed into the portal and individual garden profiles.
          Gardeners can then leverage the community to make informed decisions on building and maintaining their gardens.
          Gardens can opt-in to growing food to support the surrounding communities.
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 3")
    .card-body
      h5.card-title Who's free? 
      .card-text
        p.
          App that helps small groups of people (like our LiveLifeCT group!) get together more often.
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 4")
    .card-body
      h5.card-title Open Street Maps
      p.card-text Curious to play with this framework and compare with Google Maps.
      a(href='https://switch2osm.org/why-switch/' target='_blank' class="btn btn-primary") switch2osm.org
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 5")
    .card-body
      h5.card-title R(eactive)Socket - service to service communications binary protocol
      p.card-text Never heard of this before, looks really interesting (e.g. backpressure solution is built in). My gut tells me I'll be using this framework someday soon (probably in the IoT world).
      a(href='https://rsocket.io/' target='_blank' class="btn btn-primary") rsocket.io
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 6")
    .card-body
      h5.card-title Garage Sale App
      p.card-text Simple app to help sell your stuff. Inventory/Item management, payments integration, item bid/reservation, viewing appointment scheduling and announcements. Virtual or not.
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 6")
    .card-body
      h5.card-title Alexa skills - Eskom load-shedding shedules
      .card-text
        p.
          Living in South Africa, we're painfully aware of living with water and electricity constraints.
          For electricity, there are various mobile apps that provide us with the schedule that is published by the main provider, Eskom.
          Alexa doesn't have that skill right now so this is a great option for me to to dig into Alexa skills.
  .card
    // img(src="./projects/favicon.ico" class="card-img-top" alt="Project 6")
    .card-body
      h5.card-title Kotlin
      .card-text
        p.
          I gotta put something recognizable on my resume! hehe, nah. I've heard some great things about Kotlin and developer productivity (e.g. promises to be way more succint than Java).
          It seems like the language is evolving much faster than Java too.

// jQuery first, then Popper.js, then Bootstrap JS
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
// script(type='text/javascript' src='./bio/js/projects-list.js')