head
  title Explore: Noddyx Server Auth 
  link(rel='stylesheet' href='./sign-in/css/style-node-nxs.css')
  link(rel="shortcut icon" type="image/x-icon" href="./sign-in/favicon.ico")
h1#title Sign in:
form#signInForm
  p
    | Email: 
    input#username(autocomplete='email' type='email' inputmode='email' value='a@b.com')
  p
    | Password: 
    input#password(type='password' value='asdf')
  p
    input(type='submit' value='Sign me in')
  #divSignInError
script(type='text/javascript' src='./sign-in/js/sign-in.js')
