.content {
  margin-left: 10%;
  width: 90%;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-left: 5%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky-side-bar {
  position: fixed;
  top: 10;
  padding: 0px;
}

li > a {
  color: #aaa;
}

p {
  line-height: 30px;
  font-size: 110%;
  text-align: left;
}

a.tag-cloud-item {
  margin: 0 0.1em;
  padding: 0.1em 1em;
  background: #999;
  color: aliceblue;
  font-size: 80%;
  text-decoration: none;
}

a.tag-cloud-orange {
  background: #ffa500;
}

a.tag-cloud-red {
  background: #df2d4f;
}

a.tag-cloud-blue {
  background: #4d85d1;
}

a.tag-cloud-green {
  background: #5aba59;
}

a.tag-cloud-purple {
  background: #8156a7;
}
